{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
  	 <script src="{% static "bower_components/webcomponentsjs/webcomponents-lite.min.js" %} "></script>
     <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
     <link rel="import" href="{% static 'bower_components/polymer/polymer.html' %}">
     <link rel="import" href="{% static 'polymer_custom_component/proto-element.html' %}">


  </head>
  <body>
  	<h1>Store : 
  	</h1>
    <proto-element></proto-element>
  </body>
</html>	